.container-Carrito {
  max-height: 90vh;
  overflow-y: auto;
}

.carrito-sticky {
  position: sticky;
  top: 0;
  background-color: white;
}

.btn{
    --bs-btn-padding-y: 0.09rem;
}
.badge{
    --bs-badge-padding-y: 0.75em
}
img{
    max-width: 10.25rem;
    max-height: 165px;
}