<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/']">{{title}}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/']">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/ofertas']">Ofertas</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Carta
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" [routerLink]="['/productos']" [queryParams]="{ titulo: 'Pizzas', tipo: 'pizza' }">Pizzas</a></li>
              <li><a class="dropdown-item" [routerLink]="['/productos']" [queryParams]="{ titulo: 'Empanadas', tipo: 'empanada' }">Empanadas</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" [routerLink]="['/productos']" [queryParams]="{ titulo: 'Tartas', tipo: 'tarta' }">Tartas</a></li>
              <li><a class="dropdown-item" [routerLink]="['/productos']" [queryParams]="{ titulo: 'Sanguches', tipo: 'sanguche' }">Sanguches</a></li>
              <li><a class="dropdown-item" [routerLink]="['/productos']" [queryParams]="{ titulo: 'Guarniciones', tipo: 'guarnicion' }">Guarniciones</a></li>
              <li><a class="dropdown-item" [routerLink]="['/productos']" [queryParams]="{ titulo: 'Bebidas', tipo: 'bebida' }">Bebidas</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/contacto']">Contacto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn" (click)="reset()">Restaurar</a>
          </li>
        </ul>
        <app-imagen-carrito></app-imagen-carrito>
        <app-buscador></app-buscador>
      </div>
    </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
<footer class="text-center">
    {{title}} 2025
</footer>